<%= form_for(@pre_challenge) do |f| %>
  <% if @pre_challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pre_challenge.errors.count, "error") %> prohibited this pre_challenge from being saved:</h2>

      <ul>
      <% @pre_challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="multi-col-form">
        <div class="form-group col-md-12">
          <%= f.label :name %>
          <%= f.text_area :name , class: 'form-control ' %>
        </div>
        <div class="form-group col-md-12">
          <%= f.label :industry %><br>
          <%= f.select :industry_id, Industry.pluck(:name, :id),{} %>
        </div>
        <div class="form-group col-md-12">
          <%= f.label :first_date %><br>
          <%= f.text_field :first_date %>
        </div>
        <div class="form-group col-md-12">
          <%= f.label :second_date %><br>
          <%= f.text_field :second_date %>
        </div>
      <div class="actions">
        <%= f.submit :class=>"btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
