<%= form_for(@pre_challenge_event) do |f| %>
  <% if @pre_challenge_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pre_challenge_event.errors.count, "error") %> prohibited this pre_challenge_event from being saved:</h2>

      <ul>
      <% @pre_challenge_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
