<div class="container">
	<section>
		<div class="main_page_section_1">
			<div align="center" style="margin-top:-5%;">
				<%= image_tag( :mm_logo,  height: '128', width: '128') %><br><br>
			</div>
			<div class="container">
				<div class="col-md-6" align="center">
					<div class="container" style="margin-left:12%;">
						<a class="btn btn-danger" href="<%= user_omniauth_authorize_path(:provider => :google_oauth2) %>"><i class="fa fa-google-plus"> </i>&nbsp;login with Gmail</a><br><br>
						<a class="btn btn-primary" href="<%= user_omniauth_authorize_path(:provider => :facebook) %>"><i class="fa fa-facebook-official"></i> login with facebook</a>
					</div>
				</div>

				<div class="col-md-6">
					<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<div class="input-group">
							<%= f.email_field :email, autofocus: true, class: "form-control", :placeholder => "Email-ID",style: "margin-bottom:10px;text-align: center;" %>
							<% if f.object.password_required? %>
								<%= f.password_field :password, autocomplete: "off", class: "form-control", :placeholder => "Password",style: "text-align: center;" %>
							<% end -%>
						</div>
							<div class="input-group">
								<% if devise_mapping.rememberable? -%>
									<div class="field" align="center" style="width:360px; ">
										<!--<label>
											<%= f.check_box :remember_me %>
												Remember me
			                             </label>
			                             <br>-->
			                            <a href="#" style="color:grey;text-align: center;"  >Forgot password?</a>
									</div>
								<% end -%>
							</div>
							<div style="margin-top:10px" class="form-group">
																			  	
							        <!-- Button -->
							
							    <div class="col-sm-12 controls" style="margin-bottom:20px;width:330px;" align="center">
							            <%= f.submit "Log-In Now!",class: "btn btn-success" %>
							            
							            <!-- <a id="btn-fblogin" href="<%= new_user_registration_url%>" class="btn btn-primary">Sign up</a> -->
							     </div>
							</div>
														 
						<% end %>
				</div>
			</div>
		</div>
	</section>
							<!-- 2nd section -->
	<section id="features" class="features">
		<div class="container main_page_section_2">
			<div class="container">
				<div class="col-md-6">
					<div class="container" style="margin-top:15%;">
						<%= image_tag( :mm_logo,  height: '128', width: '128') %><br>
						Mentor Mind is a virtual platform for <br>-<br><br>-<br><br>-<br><br>-<br><br>-<br>
					</div>
				</div>

				<div class="col-md-6" style="margin-top:8%;">
					<div class="container" align="center" style="margin-top:15%; margin-right:15%;">
						<iframe width="500" height="300" src="https://www.youtube.com/embed/xqtUuHFAtzg" frameborder="1" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>	
	</section>

	<!-- Section 3 -->

	<section id="team" class="team">
		<div class="container main_page_section_3">
			<div class="col-md-6" align="center">
				<p>
					<%= image_tag( :mm_logo,  height: '128', width: '128') %><br>
					<b><h2>Industry mentor just for you</h2></b>
					Interact with an industry professional for support during missions. Real time scenarios require real time experience guidance.
				</p>
				<p>
					<%= image_tag( :mm_logo,  height: '128', width: '128') %><br>
					<b><h2>Improve work Ethic</h2></b>
					Stick to deadlines or lose points. Submit quality work or face the consequence of getting rejected. Build real world work ethic now.
				</p>
			</div>

			<div class="col-md-6" align="center">
				<p>
					<%= image_tag( :mm_logo,  height: '128', width: '128') %><br>
					<b><h2>Real Life Mision Simulations</h2></b>
					Choose from real life simulated missions and turn in your solutions/output to earn points.
				</p>
				<p>
					<%= image_tag( :mm_logo,  height: '128', width: '128') %><br>
					<b><h2>How You Compare ?</h2></b>
					See how you stack up against members from different colleges and cities.
				</p>
			</div>
		</div>
	</section>

	<!-- Section 4 -->

	<section>
		<div class="container main_page_section_4">
			<div class="container" style="margin-top:12%;">
				<div class="col-md-3">
					<h3>Mentor Organizations</h3>
					<%= IndustryCategory.all.count %>
					<div class="panel" style="height:50vh; width:80%; margin-top:18%;">
						<p align="center">
							<%= image_tag (User.first.image), { height: '128', width: '128', class: "img-rounded"} %>
							<%= User.first.email %><br>
							I was so happy I wanted to cry
						</p>
					</div>	
				</div>

				<div class="col-md-3">
					<h3>Mentees</h3>
					<i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;&nbsp;<%= User.all.count %>
					<div class="panel" style="height:50vh; width:80%; margin-top:18%;">
						<p align="center">
							<%= image_tag (User.first.image), { height: '128', width: '128', class: "img-rounded"} %>
							<%= User.first.email %><br>
							I was so happy I wanted to cry
						</p>
					</div>
				</div>

				<div class="col-md-3">
					<h3>Industries</h3>
					<i class="fa fa-industry fa-lg"></i>&nbsp;&nbsp;&nbsp;<%= Industry.all.count %>
					<div class="panel" style="height:50vh; width:80%; margin-top:18%;">
						<p align="center">
							<%= image_tag (User.first.image), { height: '128', width: '128', class: "img-rounded"} %>
							<%= User.first.email %><br>
							I was so happy I wanted to cry
						</p>
					</div>
				</div>

				<div class="col-md-3">
					<h3>Challenges</h3>
					<%= Challenge.all.count %>
					<div class="panel" style="height:50vh; width:80%; margin-top:18%;">
						<p align="center">
							<%= image_tag (User.first.image), { height: '128', width: '128', class: "img-rounded"} %>
							<%= User.first.email %><br>
							I was so happy I wanted to cry

						</p>
					</div>
				</div>
			</div>	
		</div>
	</section>
	<!-- Section 5 -->
	<section id="works" class="works clearfix">
		<div class="container main_page_section_5">
		<% @industry_categories = IndustryCategory.where("parent_id = ?", 0) %>
			<%= render "/industry_categories/home_page_content" %>
		</div>
	</section>

	<!-- Section 6 -->

	<section>
		<div class="main_page_section_6">
			<div align="center">
				<%= image_tag( :mm_logo,  height: '128', width: '128') %><br><br>
			</div>
			<div class="container">
				<div class="col-md-6" align="center">
					<div class="container" style="margin-left:12%;">
						<a class="btn btn-danger" href="<%= user_omniauth_authorize_path(:provider => :google_oauth2) %>"><i class="fa fa-google-plus"> </i>&nbsp;login with Gmail</a><br><br>
						<a class="btn btn-primary" href="<%= user_omniauth_authorize_path(:provider => :facebook) %>"><i class="fa fa-facebook-official"></i> login with facebook</a>
					</div>
				</div>

				<div class="col-md-6">
					<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<div class="input-group">
							<%= f.email_field :email, autofocus: true, class: "form-control", :placeholder => "Email-ID" %>
							<% if f.object.password_required? %>											    		
								<%= f.password_field :password, autocomplete: "off", class: "form-control", :placeholder => "Password" %>
							<% end -%>
						</div>
							<div class="input-group">
								<% if devise_mapping.rememberable? -%>
									<div class="field" align="center">
										<label>
											<%= f.check_box :remember_me %>
												Remember me
			                             </label>
			                             <br>
			                            <a href="#" style="color:blue;">Forgot password?</a>
									</div>
								<% end -%>
							</div>
							<div style="margin-top:10px" class="form-group">
																			  	
							        <!-- Button -->
							
							    <div class="col-sm-12 controls" style="margin-bottom:20px">
							            <%= f.submit "Log-in Now!",class: "btn btn-success" %>
							            
							            <a id="btn-fblogin" href="<%= new_user_registration_url%>" class="btn btn-primary">Sign up</a>

																  															  
										<div class="actions"></div>
							     </div>
							</div>
														 
						<% end %>
				</div>
			</div>
		</div>
	</section>

</div>