<div class="p_statement" style="width: 100%;text-align: center;">
  <%= "PROBLEM STATEMENT" %>
</div>
<div class="top" style="padding-top: 20%;">
  <%= user_challenge.challenge.question %>
</div>

<div class="clearfix"></div>
<div class="clearfix"></div>

<div class="answer">

  <!-- <%# link_to "Answer this", new_user_challenge_path(user_challenge.id)%> -->
  <!--          <%# link_to "Answer this", new_industry_user_answer_path(:industry_id => user_challenge.challenge.pre_challenge.industry_id,:user_challenge_id =>user_challenge.id)%> -->

<!-- remove the answer submit button
  <input value = "Answer This" type="button" class="btn change_user_id" data-toggle="modal" data-target="#myModal_<%=user_challenge.id%>" userChallenge = "<%= user_challenge.id %>" />
-->                    

</div>
<!--
<div class="modal fade" id="myModal_<%=user_challenge.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Write Answer : </h4>
      </div>
      <div class="modal-body">
        <% @user_answer = user_challenge.user_answer if user_challenge.user_answer.present?%>
        <%@flag= true%>
        <% @user_challenge_id = user_challenge.id %>
        <%# render 'user_answers/form' %>
      </div>

    </div>
  </div>
</div>
-->

      <div class="user_answer" style="margin-top:45%;">
        <% @user_answer = user_challenge.user_answer if user_challenge.user_answer.present?%>
        <%@flag= true%>
        <% @user_challenge_id = user_challenge.id %>
        <%= render 'user_answers/form' %>
      </div>