<br>

<% if current_user.challenges.present? %>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-xs-4" style="background-color: #0feb9e">

      </div>
    </div>
<% end %>

<% if @user_challenges.present? %>


    <div class="challenges_main_div" align="center">

         <div class="tools_and_persons">
          <br>
            <%= image_tag ("Gamification-Tab.png") %><br><br>
            <%= image_tag ("Gamification-Tab.png") %><br><br>
            <%= image_tag ("Gamification-Tab.png") %><br><br>
            <%= image_tag ("3.png") %><br><br>

          <a href="javascript:pixlr.overlay.show();" >
              <%= image_tag ("2.png"), alt: "Pixlr" %><br><br>
          </a>
        </div>

        <div class="date" align="center">
          <br>
          <% (1..30).each do |date| %>
            <%= date %><br>
          <% end %>
        </div>

      <div style="height: 100%;margin-left: auto;margin-right: auto;width: 55%;">
        <div class="move-arrow prev" >
          <i class="fa  fa-chevron-left"></i>
        </div>

        <% @user_challenges.each_with_index do |user_challenge,i| %>

          <% if i==0 %>

              <div class="challenges_div first current" style="float: left;">
                <%= render partial: 'user_challenge', locals: {user_challenge: user_challenge} %>

              </div>
          <%else%>
                <div class="challenges_div" style="float: left;display: none;">
                  <%= render partial: 'user_challenge', locals: {user_challenge: user_challenge} %>
                </div>
          <% end %>
      <% end %>
      <div class="move-arrow next">
        <i class="fa  fa-chevron-right"></i>
      </div>
    </div>
    </div>
<% end %>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= render 'user_answers/form' %>
      </div>
      
    </div>
  </div>
</div>
