<style>
  body{
      color: #ffffff;
  }
  tr:nth-child(odd) {
      color: #000000;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-offset-6 col-md-2">
        Find a Challenge
    </div>
    <div class="col-md-2">
      <%= link_to "Explore an Industry", industry_categories_path %>
    </div>
    <div class="col-md-2">
      User : <%= current_user.user_name %>
    </div>

    <div class="col-md-12" style="font-size: 20px;line-height: 100px;"><%= image_tag current_user.image.url(:medium),class: "circle_div" %> &nbsp;<%rank_position = (current_user.get_rank+1) %><%= rank_position %> Rnk<br></div>

    <div class="col-md-2">
      <br>
      <br>

      <%=link_to "Overview", progress_user_challenges_path %><br>
      <b><%=link_to "Comapare", leader_board_user_challenges_path %></b>
      <br><br><br><br><br>
      <br>
      <br><br><br><br><br>
      <br>

      <%= image_tag "chain.png" %>
    </div>

    <div class="col-md-8">
      <h4>MentorMind Leaderboard<br></h4>
      <br/>
        <table class="table table-striped" style="border: solid;border-width: 2px;border-color: #269abc">
          <thead>
            <tr>
              <th>NAME</th>
              <th>COLLEGE, City</th>
              <th>Challenges Completed</th>
              <th>MentorMind Points</th>
            </tr>
          </thead>
          <% counter = 0 %>
          <% rank_position = 0 %>
          <tbody>
          <% UserPreChallenge.get_all_scores.each do |user,score| %>

            <% counter +=1 %>
            <% if user.id == current_user.id %>
              <% rank_position = counter %>
            <% end -%>
              <tr>
                <td><%= user.user_name %></td>
                <td><%= user.collage %></td>
                <td><%= user.email %></td>
                <td><%= score %></td>
              </tr>

          <% end %>
          </tbody>
        </table>
      <% total_count = User.all.size %>

      <% percenatge = rank_position == 0 ? 0 : (((total_count - rank_position)*100)/total_count) unless total_count==0%>
      <div style="width: 50%;height:20px;background-color: #ffffff;float: left">
        <div style="width: <%= percenatge %>%;background-color: #0066cc;height: 100%;"></div>
      </div>
      &nbsp
      <%=percenatge%>% Percentage of MentorMind Users you Outrank
      <div class="lb_complete_div">

      </div>
      
     <br>

      <div class="clearfix"></div>
      <div style="width: 50%;height:20px;background-color: #ffffff;float: left">
        <div style="width: <%= percenatge %>%;height: 100%;"></div>
      </div>
      &nbsp
      Your Rank among all MentorMind Users on Marketing
      <div class="lb_complete_div">

      </div>
      <!--<div class="col-md-6" style="background-color: #269abc;padding: 2px;">&nbsp;<br /></div>
      <div class="col-md-6">100% Percentage of MentorMind Users you Outrank</div>
      <div class="col-md-4">&nbsp;</div>
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-6" style="background-color: #269abc;padding: 2px;">&nbsp;<br /></div>
      <div class="col-md-6">1    Your Rank among all MentorMind Users on Marketing</div>
      <div class="col-md-4">&nbsp;</div>
      <div class="col-md-12">&nbsp;</div>-->
    </div>
  </div>
</div>

