<% @last_prechallenge %>
<div class="progress_main_div">
	<div style="color:yellow;">
		<%= image_tag current_user.image.url(:medium),class: "circle_div" %>
		<div style="margin-left:9%;color:white;line-height: 30px;margin-left: 12%;">
			<br>
			<%= current_user_total_score %> Pts <!-- rendered from user_challenges helper file -->
		</div>
	</div>
	<!--
	<div class="progress_top">
		
		<div class="links_progress_top">
		  <%= "Find challenge"%>&nbsp;&nbsp;
		  <%= "Explore an industory"%>&nbsp;&nbsp;
		  User : <%= current_user.user_name %>&nbsp;&nbsp;
		</div>			
	</div>
<% if @user_current_industries.present? %>
  <%= image_tag current_user.image.url(:medium),class: "circle_div" %> <div style="color:#ffffff;line-height:100px;font-size: 20px;margin-left:110px;"> 11000$</div>

	--><br><br>

	<div class="clearfix"></div>
	<div class="progress_second">
		<div class="progress_second_left">
      		<p align="center"><h4>&nbsp;&nbsp;Certified  Challenges</h4></p>

			</br>

             <% current_user.user_pre_challenges.each{|user_pre_challenge|%>
              <%  @last_prechallenge  = user_pre_challenge %>
              <% if user_pre_challenge.certified?  %>
                <%= link_to (image_tag user_pre_challenge.pre_challenge.industry.image.url(:medium),class: "circle_div"), user_pre_challenges_path(:company_id =>user_pre_challenge.pre_challenge.industry.id) %>
              <% end %>
             <%}%>
			<%#link_to "How you comapare", leader_board_user_challenges_path %>
		</div>
		<div class="progress_second_middle">
			<div class="current_industry">
				<font color="white"><%= "Current Industry Progress" %></font></br></br>
              <div class="clearfix"></div>

              <% if @user_current_industries.parent_id==0 %>
                  <%= link_to (image_tag @user_current_industries.image.url(:medium),class: "circle_div_new"), industry_category_path(@user_current_industries) %>
              <% else %>
                  <%= link_to (image_tag @user_current_industries.image.url(:medium),class: "circle_div_new"), industry_category_path(@user_current_industries.parent) %>
              <% end %>
				<% @user_current_industries.industries.each_with_index do |industry,index| %>

				<div>

					<%if current_user.pre_challenges.collect(&:industry_id).include?(industry.id) %>
                      <%= link_to (image_tag industry.image.url(:medium),class: "medium_circle_div"), user_pre_challenges_path(:company_id =>industry.id) %>

                      <% end %>

                </div>
				<% end %>
              <div class="" style="float: right;margin-right: 10px;width:150px;height:100px;background-color: #ffffff;">
                <div style="background-color: #ac2925;width: <%=50 %>%;height: 100%;" ></div>
              </div>

			</div>
			<div class="recently_played">
				<font color="white"><%= "RECENTLY PLAYED"%></font></br></br>
				<div class="circle_with_info">




                  <%= link_to (image_tag  @last_prechallenge.pre_challenge.industry.image.url(:medium),class: "circle_div_blue"), user_challenges_path(:from_first=> true, :pre_challenge_id => 6) %>
					<div class="played_info">
						<%= "Completed Challenge On: No. of Days to Complete Challenge:Rank in ICCC Challenge:"%>
					</div>
				</div>
			</div>
		</div>
		<div class="progress_second_right">
			<font color="white" align = "center">Industries<br> &nbsp;Accessed</font></br></br>
			<% @user_accessed_industries.each do |user_accessed_industry| %>

				    <%= link_to (image_tag user_accessed_industry.industry_category.image.url(:medium), class: "circle_div_new"), industry_category_path(user_accessed_industry.industry_category) %>
				<div class="clearfix"></div>
			<% end %>	
		</div>
	</div>
<% end %>
</div>

