<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_challenge.user_id %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @user_challenge.challenge_id %>
</p>

<p>
  <strong>Locked:</strong>
  <%= @user_challenge.locked %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @user_challenge.marks %>
</p>

<%= link_to 'Edit', edit_user_challenge_path(@user_challenge) %> |
<%= link_to 'Back', user_challenges_path %>
