<%= form_for @user_answer, :html => { :class => "form-horizontal user_answer" } do |f| %>

  <% if @user_answer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user_answer.errors.count, "error") %> prohibited this user_answer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user_answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :answer, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :answer, :class => 'form-control' %>
    </div>
    <%=f.error_span(:answer) %>
  </div>
<% if @flag %>
        <%= f.hidden_field :from_side, :class => 'form-control', :value => true %>
 <%else%>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :user_challenge_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_challenge_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_challenge_id) %>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :status, :class => 'form-control' %>
    </div>
    <%=f.error_span(:status) %>
  </div>
  <div class="form-group">
    <%= f.label :marks, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :marks, :class => 'form-control' %>
    </div>
    <%=f.error_span(:marks) %>
  </div>
  <div class="form-group">
    <%= f.label :industry_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :industry_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:industry_id) %>
  </div>
    <% end %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>

    </div>
  </div>

<% end %>

