<style>
	.circle-border {width:199px; height:199px; border-radius:100px; -moz-border-radius: 100px; -webkit-border-radius: 100px; -khtml-border-radius: 100px; font-size:20px; color:#fff; line-height:200px; text-align:center; background:#000; border: 1px solid #999; }
</style>
<br>
<br>
<br>
<div class="row">
    <% @industries.each do |industry| %>
      
      <div class="col-md-3">
      	<a href=<%= industry_path(industry) %>> <%= image_tag industry.image.url(:medium), class: "img-rounded",:height=>"220",:width=>"220" %><br /></a>
      	 <%= industry.name %>
      	 <td><%= link_to 'Show', industry %></td>
      </div>
                
    <% end %>
</div>

<%= link_to 'New Industry', new_industry_path %>
