<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @industry.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @industry.description %>
</p>

<p>
  <strong>Industry category:</strong>
  <%= @industry.industry_category_id %>
</p>

<%= link_to 'Edit', edit_industry_path(@industry) %> |
<%= link_to 'Back', industries_path %>
