<%= form_for(@user_pre_challenge) do |f| %>
  <% if @user_pre_challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_pre_challenge.errors.count, "error") %> prohibited this user_pre_challenge from being saved:</h2>

      <ul>
      <% @user_pre_challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="multi-col-form">
        <div class="form-group col-md-12">
          <%= f.label :user_id %>
          <%= f.text_area :user_id, class: 'form-control' %>
        </div>
        <div class="form-group col-md-12">
          <%= f.label :pre_challenge_id %><br>
          <%= f.select :pre_challenge_id,PreChallenge.where(:industry_id => params[:company_id].to_i).pluck(:name,:id),{} %>
        </div>

      <div class="actions">
        <%= f.submit :class=>"btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
