<br>

<% if current_user.pre_challenges.present? %>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-xs-4" style="background-color: #0feb9e">

      </div>
    </div>
<% end %>
<div class="challenge-logo">
  <div style="font-size: 30px;">
  <%= image_tag "mm_logo.png", class: "img-circle" %>
  Challenge
  </div>
</div>
<% if @pre_challenges.present? %>
  <div class="pre-challenge-square">
    <section class="main">

      <ul class="ch-grid">
    <% @pre_challenges.each_with_index do |pre_challenge,i| %>
         <% if i<2 %>

                <li>
                  <div class="ch-item">
                    <div class="ch-info"><br><br>
                      <%= link_to "Challenge", user_challenges_path(:pre_challenge_id => pre_challenge.id, :from_first => "true") %>
                    </div>
                    <div class="ch-thumb ch-img-1">
                      <p><%= pre_challenge.name %></p><br>
                    </div>
                  </div>
                </li>


        <% elsif @b && i==2 %>
 <%# unlock the only next challenge %>
                <li>
                  <div class="ch-item">
                    <div class="ch-info"><br><br>
                      <%= link_to "Challenge", user_challenges_path(:pre_challenge_id => pre_challenge.id, :from_first => "true") %>
                    </div>
                    <div class="ch-thumb ch-img-1">
                      <p><%= pre_challenge.name %></p><br>

                    </div>
                  </div>
                </li>

        <% else %>
                <li>
                  <div class="ch-item">
                    <div class="ch-info">
                      <h3>Locked</h3>
                      <p><%= "Challenge" %></p>
                    </div>
                    <div class="ch-thumb ch-img-1">
                      <p><%= pre_challenge.name %></p><br>
                      Locked
                    </div>
                  </div>
                </li>
         <% end %>
        
    <% end %>
      </ul>

    </section>
    <div class="clearfix"></div>
  </div>
<% else%>
  <%= "No pre challenges are available"%> 
<% end %>

