<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@challenge.errors.count, "error") %>
         prohibited this challenge from being saved:
      </h2>

      <ul>
      <% @challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="multi-col-form">
        <div class="form-group col-md-12">
          <%= f.label :question %>
          <%= f.text_area :question , class: 'form-control ' %>
        </div>
        <div class="form-group col-md-12">
          <%= f.label :answer %><br>
          <%= f.text_area :answer, class: 'form-control ' %>
        </div>
        <div class="form-group col-md-12">
          <%= f.label :pre_challenge %><br>
          <%= f.select :pre_challenge_id, PreChallenge.all.pluck(:name,:id),{} %>
        </div>
        <div class="form-group col-md-12">
          <%= f.label :first_date %>
          <%= f.text_field :first_date %>
          </div>
        <div class="form-group col-md-12">
          <%= f.label :second_date %>
          <%= f.text_field :second_date %>
        </div>
      <div class="actions">
        <%= f.submit :class=>"btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
