<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @challenge.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @challenge.answer %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
